<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="home"
			 connectionString="Server=Michael-PC;Database=PersonDb;Trusted_Connection=True"/>

		<add name="laptop"
			 connectionString="Server=Michael;Database=PersonDb;Trusted_Connection=True"/>


	</connectionStrings>
	
</configuration>