USE [master]
GO
/****** Object:  Database [PersonDb]    Script Date: 03-03-2024 21:09:33 ******/
CREATE DATABASE [PersonDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PersonDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PersonDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonDb]
GO
/****** Object:  Table [dbo].[persons]    Script Date: 03-03-2024 21:09:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons](
	[ID] [int] NULL,
	[Firstname] [varchar](50) NULL,
	[Lastname] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[Postalcode] [int] NULL,
	[Email] [varchar](100) NULL,
	[Phone] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
